$h1Color: #FDBD03;
$h1Size: 3.9rem;
$pColor: #020253;
$pSize: 1.1rem;
$labelColor: #2C2C2C;
$labelSize: .9rem;
$BgcYellow: #FDBD03;
$Font: Heebo;

body {
    direction: rtl;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}